<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makingfriends.serviceregister.dao.RegisterDao">


  <resultMap id="BaseResultMap" type="com.makingfriends.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="marriage" jdbcType="VARCHAR" property="marriage" />
    <result column="workplace" jdbcType="VARCHAR" property="workplace" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="high" jdbcType="INTEGER" property="high" />
    <result column="weigh" jdbcType="INTEGER" property="weigh" />
    <result column="income" jdbcType="INTEGER" property="income" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="room" jdbcType="VARCHAR" property="room" />
    <result column="hobby" jdbcType="VARCHAR" property="hobby" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>

  <insert id="insertSelective" parameterType="com.makingfriends.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="marriage != null">
        marriage,
      </if>
      <if test="workplace != null">
        workplace,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="high != null">
        high,
      </if>
      <if test="weigh != null">
        weigh,
      </if>
      <if test="income != null">
        income,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="room != null">
        room,
      </if>
      <if test="hobby != null">
        hobby,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="age != null">
        #{age},
      </if>
      <if test="phone != null">
        #{phone},
      </if>
      <if test="marriage != null">
        #{marriage},
      </if>
      <if test="workplace != null">
        #{workplace},
      </if>
      <if test="position != null">
        #{position},
      </if>
      <if test="high != null">
        #{high},
      </if>
      <if test="weigh != null">
        #{weigh},
      </if>
      <if test="income != null">
        #{income},
      </if>
      <if test="flag != null">
        #{flag},
      </if>
      <if test="idcard != null">
        #{idcard},
      </if>
      <if test="email != null">
        #{email},
      </if>
      <if test="sex != null">
        #{sex},
      </if>
      <if test="nation != null">
        #{nation},
      </if>
      <if test="education != null">
        #{education},
      </if>
      <if test="room != null">
        #{room},
      </if>
      <if test="hobby != null">
        #{hobby},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="img != null">
        #{img},
      </if>
    </trim>
  </insert>

</mapper>